################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backup
/.vs
/bin
/Debug
/MS3DExporter/Debug
/MS3DExporter/Release
/MS3DImporter/Debug
/MS3DImporter/Release
/MS3DTool/Debug
/MS3DTool/Release
/Release
/UpgradeLog.htm
